#banner{
    background-color:rgb(183, 227, 227);
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    padding: 1.5em;
}
#menu{
    display: flex;
    padding: 0.5em;
    background-color: rgb(119, 233, 195);
    gap: 0.3em;
    a{
        text-decoration: none;
        color: white;
        background-color: rgb(69, 74, 74);
        border-radius: 0.2em;
        padding: 0.3em;
        min-width: 80px;
        text-align: center;
    }
    a:hover{
        background-color: rgba(52, 209, 52, 0.632);
        color: black;
    }
    .divider{
        flex: 1 1 auto;
    }
}
