:host {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}
.login {
  background-color: white;
  border: 1px solid darkgray;
  border-radius: 0.3em;
  padding: 1em;
  width: 240px;
  box-shadow: 0 0 1em 0.1em rgb(104, 104, 104);
  div {
    margin: 0.5em 0;
    lable:not(:last-of-type) {
      display: block;
    }
    input[type=text],input[type=password]{
        width: 100%;
        padding: 0.3em;
        box-sizing: border-box;
    }
    button{
        background-color: rgb(117, 199, 171);
        color: white;
        width: 100%;
        box-sizing: border-box;
        border: none;
        border-radius: 0.3em;
        padding: 0.3em;
    }
    button[disabled]{
        background-color: darkgray;
    }
  }
}
.message{
    background-color: antiquewhite;
    padding: 0.4em;
    border-radius: 0.4em;
    text-align: center;
    font-size: small;
}